@font-face {
    font-family: "Nanum";
    src: url('NanumGothicCoding-Regular.ttf');
    src: url('NanumGothicCoding-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(11, 11, 11);
    font-family: Arial, Helvetica, sans-serif;

}

hr {
    margin-block-start: 1px;
    margin-block-end: 1px;
}

.header-title {
    color: whitesmoke; 
    position: relative; 
    left:40px;
    font-size: 25px;
}

.navbar {

    position: relative;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;

    color: white;
    background-color: rgb(22, 22, 22);
}

.navbar-pages {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 30px;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 50px;
}

.navbar-spacer {
    width: 2000px;
    justify-content: center;
}

.navbar-button-text {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;

    font-size: 14px;
    color: whitesmoke;
    background-color: rgb(22, 22, 22);
    border: 0px;

    text-decoration: none;
    

    cursor: pointer;
}

.navbar-button-img {

    display: flex;
    align-items: center;

    background: none;
    border: none;

    cursor: pointer;
}

.navbar-button-img img {
    width: 32px;
    height: 32px;
}

.container-main {
    background-color: magenta;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    background-color: lightgray;
    padding: 2px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    margin-bottom: 20px;
    display:grid;

    grid-template-columns: repeat(2, 1fr);
}

.grid-element {
    position: relative;
    margin: 10px;
    width: 650px;
    height: 330px;

    border: 4px solid #100000;
    border-radius: 10px;
    background-color: darkslategray;

    display: grid;
    grid-template-areas: 
                    "a a b b"
                    "a a b b"
                    ". . c c"
}

.ele-left {
    justify-self: flex-end;
}
.ele-right {
    justify-self: flex-start;
}

.ele-image {

    grid-area: a;
    position: absolute;
    width: 90%;
    height: 90%;
    top: 10px;
    left: 10px;
    object-fit: cover;

    
    border: 2px solid #222222;
    border-radius: 5px;
}


.ele-button {
    grid-area: c;
    position: absolute;
    width: 75%;
    height: 60%;
    object-fit: cover;
    margin-right: 40px;

    justify-self: center;
    align-self: center;

    font-size: 36px;
    font-weight: bold;

    background-color: rgb(185, 255, 81);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;

    cursor: pointer;

    transition: background-color 0.2s, 
                color 0.2s, 
                border-color 0.2s,
                border-width 0.1s;
}

.ele-button:hover {

    color: rgb(185, 255, 81);
    background-color: black;
    border-color: rgb(185, 255, 81);
    border-width: 1px;
}


.link-button-page {
    
    text-decoration: none;
}

.ele-desc {
    grid-area: b;
    position: absolute;
    width: 75%;
    height: 80%;
    object-fit: cover;
    margin-right: 40px;

    font-family:Arial, Helvetica, sans-serif;

    justify-self: center;
    align-self: center;

    color:whitesmoke;

    font-size: 10px;
}

.ele-para {
    margin-top: 40px;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: light;
    font-size: 16px;
}

.ele-header {
    margin-top: 40px;

    font-size: 21px;
    font-weight: bold;
}

.container-title {

    font-size: 70px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 20px;

    color: whitesmoke;
}

.container-title-sub {

    margin-bottom: 60px;

    font-size: 23px;
    color: rgb(200, 200, 200);
    font-style: italic;
    font-family: "Nanum";
    
}

.container-blocks {

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-content: center;
    margin-bottom: 50px;

    width: 990px;
    height: 360px;

    background-color: magenta;
}

.block {
    width: 330px;

    display: flex;
    flex-direction: column;

    justify-content: center;
}

.block-container {

    justify-content: center;
    align-items: center;
    
    height: 100%;
    display:flex;
}

.block-img {

    display: block;

    padding: 20px;

    width: 192px;
    height: 192px;
}

.block-txt {
    align-items: start;

    width: 100%;
    height: 200px;
    margin-top: 10px;
    margin-left: 30px;


    color: white;
    font-size: 19px;
    font-style: italic;
    font-kerning: none;
    font-weight: lighter;
    font-family: "fonts/Nanum/NanumGothicCoding-Regular";

    inline-size: 270px;
    overflow-wrap: break-word;
    word-break: break-all;
}

/* TEMPLATE CSS */

.border-basic {

    border: 5px solid green;
    border-radius: 50px;
}

.template-header-box {

    position: relative;

    width: 90%; 
    min-width: 850px; 
    height: 360px;
}

.template-header-box h1 {

    font-size: 80px;
    text-align: left;

    margin-left: 150px;
    margin-top: 40px;
    margin-bottom: 20px;

    color: white;
}

.template-header-box p {

    font-size: 20px;
    text-align: left;

    margin-left: 150px;
    margin-right: 150px;

    color: white;
}

.template-back-image {

    position: absolute;
    
    flex: 1 0 100%;
    object-fit: cover;

    filter: brightness(50%);
}

.container-info-box {
    position: relative;
    margin: 0px;

    grid-template-areas: 
                    "a a . ."
                    "a a b b"
                    "a a b b"
                    ". . b b"
                    "c c c c"
                    "c c c c";

    grid-template-columns: 1fr; /* 1 column */
    gap: 20px;

    justify-content: center;
    align-items: center;
}

.container-info {

    margin-right: 20px;
    margin-left: 20px;
    
    width: 480px;
    padding: 30px;
    line-height: 1.7;
    color: white;
    background-color: rgb(22, 22, 22);

    border: 5px solid green;
    border-radius: 30px;
}

.link-gameplay {

    color: white;
    text-decoration: none;
}



.flex-column {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.dim-max {
    width: 100%;
    height: 100%;
}

.dim-half-x {
    width: 50%;
    height: 100%;
}

.width-max {
    width: 100%;
}

.btn-info {

    margin: 10px;
    width: 85%;
    height: 70px;

    font-size: 42px;

    color: whitesmoke;
    background-color: #222222;
    border: 6px solid green;

    cursor: pointer;

    transition: background-color 0.2s, 
                color 0.2s, 
                border-color 0.2s,
                width 0.1s,
                height 0.1s;
}

.btn-info:hover {

    color: white;
    background-color: rgb(10, 10, 10);
    border-color: rgb(185, 255, 81);

    width: 90%;
    height: 80px;
}

.slideshow {
    position: relative;
    padding: 2rem;
    height: 400px;
}

.slider-wrapper {
    position: relative;
    max-width: 33rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 4 / 3;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.footer-block {

    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 70px;

    margin-left: 20px;

    color: whitesmoke;
}


/* Media query to change to 1x4 layout on narrower screens */
@media (max-width: 1380px) {
    .grid {
        grid-template-columns: 1fr; /* 1 column */
    }
    .ele-left {
        justify-self: center;
    }
    .ele-right {
        justify-self: center;
    }
}