@font-face {
    font-family: "Nanum";
    src: url('NanumGothicCoding-Regular.ttf');
    src: url('NanumGothicCoding-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(11, 11, 11);
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    margin-block-start: 1px;
    margin-block-end: 1px;
}

.header-title {
    color: whitesmoke; 
    position: relative; 
    margin-left: 40px;
    font-size: 25px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    text-decoration: none;
    
}

li a:hover {
    background-color: #111111;
  }

nav {
    padding: .5rem;
    display: inline-flex;
    flex-direction: row;
    background-color: rgb(34, 37, 49);
}

ul.no-bullets {
    list-style-type: none;
    padding: 16px;
    margin: 0;
}


.off-screen-menu {
    background-color: rgb(32, 34, 40);
    width: 0px;
    position:relative;
    overflow: hidden;
    overflow-wrap:unset;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    font-size: 0rem;
    font-weight: bold;
    color: whitesmoke;
    transition: 0.3s ease;
}

.off-screen-menu.active {
    width: 100%;
    font-size: min(3.2vw, 16px);
}

.ham-menu {
    height: 32px;
    width: 32px;
    margin-right: auto;
    position: relative;
}

nav {
    background-color: rgb(30, 30, 30);
}

nav:hover {

    background-color: #111111;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #fafafa;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    
}

.navbar {

    position: relative;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;

    color: white;
    background-color: rgb(22, 22, 22);
}

.navbar-pages {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 10px;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 40px;
}

.navbar-spacer {
    width: 200px;
    justify-content: center;
}

.navbar-button-text {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;

    font-size: min(3vw, 16px);
    color: whitesmoke;
    background-color: rgb(22, 22, 22);
    border: 0px;

    text-decoration: none;
    
    cursor: pointer;
}

.navbar-button-img {

    display: flex;
    align-items: center;

    background: none;
    border: none;

    cursor: pointer;
}

.navbar-button-img:hover {

    background-color: #111111;
}

.navbar-button-img img {
    width: 40px;
    height: 40px;
}

.container-main {
    background-color: magenta;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    background-color: lightgray;
    padding: 2px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    margin-bottom: 20px;
    display:grid;
    height: 80%;
    width: 80%;

    grid-template-columns: repeat(2, 1fr);
}

.grid-element {
    position: relative;
    margin: 10px;
    width: 100%;
    max-width: 560px;
    min-height: 250px;

    border: 4px solid #100000;
    border-radius: 10px;
    background-color: darkslategray;

    display: grid;
    grid-template-areas: 
                    "a a b b"
                    "a a b b"
                    ". . c c"
}

.ele-left {
    justify-self: flex-end;
}
.ele-right {
    justify-self: flex-start;
}

.ele-image {

    grid-area: a;
    position: absolute;
    width: 90%;
    height: 90%;
    top: 10px;
    left: 10px;
    object-fit: cover;

    
    border: 2px solid #222222;
    border-radius: 5px;
}


.ele-button {
    grid-area: c;
    position: absolute;
    width: 75%;
    height: 60%;
    object-fit: cover;
    margin-right: 40px;

    justify-self: center;
    align-self: center;

    font-size: min(4vw, 30px);
    font-weight: bold;

    background-color: rgb(185, 255, 81);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;

    cursor: pointer;

    transition: background-color 0.2s, 
                color 0.2s, 
                border-color 0.2s,
                border-width 0.1s;
}

.ele-button:hover {

    color: rgb(185, 255, 81);
    background-color: black;
    border-color: rgb(185, 255, 81);
    border-width: 1px;
}


.link-button-page {
    
    text-decoration: none;
}

.ele-desc {
    grid-area: b;
    position: absolute;
    width: 75%;
    height: 80%;
    object-fit: cover;
    font-family:Arial, Helvetica, sans-serif;

    justify-self: center;
    align-self: center;

    color:whitesmoke;
    font-size: 10px;
}

.ele-para {
    font-family: Helvetica, Arial, sans-serif;
    font-size: min(3vw, 22px);
}

.ele-header {
    margin-top: 4px;

    font-size: min(3.5vw, 26px);
    font-weight: bold;
}

.container-title {

    font-size: min(10vw, 70px);
    font-weight: bold;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;

    color: whitesmoke;
}

.container-title-sub {

    margin-bottom: 60px;

    font-size: 23px;
    color: rgb(200, 200, 200);
    font-style: italic;
    font-family: "Nanum";
    
}

.container-blocks {

    display: flex;
    flex-direction: row;

    justify-content: center;
    margin-bottom: 50px;

    background-color: magenta;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 300px;
}

.block-container {

    justify-content: center;
    align-items: center;
    
    height: 100%;
    display:flex;
}

.block-img {

    display: block;

    padding: 20px;

    width: 150px;
    height: 150px;
}

.block-txt {
    align-items: start;

    width: 80%;
    height: 75px;

    margin-left: 10px;
    margin-right: 10px;

    color: white;
    font-size: 19px;
    font-style: italic;
    font-kerning: none;
    font-weight: lighter;
    font-family: "fonts/Nanum/NanumGothicCoding-Regular";

    inline-size: 270px;
    overflow-wrap: break-word;
    word-break: break-all;
}

/* TEMPLATE CSS */

.border-basic {

    border: 5px solid green;
    border-radius: 50px;
}

.template-header-box {

    position: relative;

    width: 90%; 
    height: 360px;
}

.template-header-box h1 {

    font-size: min(6vw, 80px);
    text-align: left;

    margin-left: 50px;

    color: white;
}

.template-header-box p {

    font-size: min(4vw, 24px);
    text-align: left;

    margin-left: 50px;
    margin-right: 150px;

    color: white;
}

.template-back-image {

    position: absolute;
    
    flex: 1 0 100%;
    object-fit: cover;

    filter: brightness(50%);
}

.vid-wrapper {
    width: 900px;
    height: 525px;
}

.container-info-box {
    position: relative;
    margin: 0px;

    grid-template-areas: 
                    "a a . ."
                    "a a b b"
                    "a a b b"
                    ". . b b"
                    "c c c c"
                    "c c c c";

    grid-template-columns: 1fr; /* 1 column */
    gap: 20px;

    justify-content: center;
    align-items: center;
}

.grid-element {
    position: relative;
    margin: 10px;
    width: 100%;
    max-width: 560px;
    min-height: 250px;

    border: 4px solid #100000;
    border-radius: 10px;
    background-color: darkslategray;

    display: grid;
    grid-template-areas: 
                    "a a b b"
                    "a a b b"
                    ". . c c"
}

.container-info {

    position: relative;
    margin-right: 15px;
    margin-left: 15px;
    
    font-size: min(2vw, 20px);
    padding: 25px;
    line-height: 1.7;
    color: white;
    background-color: rgb(22, 22, 22);

    border: 5px solid green;
    border-radius: 30px;
}

.container-info li {
    float: none;
}

.container-info li a {
    display: block;
    text-align:start;
    
}

.link-gameplay {

    color: white;
    text-decoration: none;
}



.flex-column {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.dim-max {
    width: 100%;
    height: 100%;
}

.dim-half-x {
    width: 50%;
    height: 100%;
}

.width-max {
    width: 100%;
}

.btn-info {

    margin: 10px;
    width: 85%;
    height: 70px;

    font-size: min(4vw, 42px);

    color: whitesmoke;
    background-color: #222222;
    border: 6px solid green;

    cursor: pointer;

    transition: background-color 0.2s, 
                color 0.2s, 
                border-color 0.2s,
                width 0.1s,
                height 0.1s;
}

.btn-info:hover {

    color: white;
    background-color: rgb(10, 10, 10);
    border-color: rgb(185, 255, 81);

    width: 90%;
    height: 80px;
}

.slideshow {
    position: relative;
    padding: 2rem;
    height: 400px;
}

.slider-wrapper {
    position: relative;
    max-width: 33rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 4 / 3;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.footer-block {

    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 70px;

    margin-left: 20px;

    color: whitesmoke;
}


/* Media query to change to 1x4 layout on narrower screens */
@media (max-width: 1380px) {
    .grid {
        grid-template-columns: 1fr; /* 1 column */
    }
    .ele-left {
        justify-self: center;
    }
    .ele-right {
        justify-self: center;
    }
}

@media (max-width: 960px) {
    .container-blocks {
        flex-direction: column;
    }
}

@media (max-width: 1200px) {

    .vid-wrapper {
        width: 540px;
        height: 315px;
    }

    .container-info-box {
        grid-template-areas: 
                    "a"
                    "b"
                    "c";
    }

    .container-info {

        max-height: 600px;

        padding: 18px;
    }

    .slider-wrapper {
        max-width: 17rem;
    }

    .slideshow {
        height: inherit;
    }
}

@media (max-width: 690px) {
    .slider-wrapper {
        max-width: 13rem;
    }

    .vid-wrapper {
        width: 270px;
        height: 157px;
    }
}

.hide-text {
    display: inherit;
}

@media (max-width: 480px) {
    
    .navbar-links {
        margin-right: 15px;
    }

    .navbar-button-img img {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 320px) {
    
    .hide-text {
        display:none;
    }
}

.hide-banner {
    display:inherit;
}

.replace-banner {
    position: absolute; top: 360px; 
}

.banner-height {
    height: 600px;
}

@media (max-width: 690px) {
    .hide-banner {
        display: none;
    }

    .replace-banner {
        top: 0px;
        bottom: 60px;
        position: relative;
    }

    .template-header-box {
        height: 100%;
    }

    .template-header-box p {
        margin-right: 50px;
    }

    .banner-height {
        height: 100%;
    }
}

